button {
  background-color: #ffcfa1;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0;
  transition: gap 0.2s ease;
}
