
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.cancel-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}