
:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.cancel-button {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background-color: #72524a;
  color: aliceblue;
  cursor: pointer;
  font-family: Nokora, sans-serif;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    background-color: #ffb770c6;
  }
}

@media (max-width: 550px) {
  header {
    padding: 12px;
    margin-bottom: 12px;
  }

  .cancel-button {
    &__label {
      display: none;
    }
  }
}