p {
  margin-top: 24px;
  margin-bottom: 40px;
  color: #ffffff;
}

app-img-animation.mobile_animation {
  display: none;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 62px;
    font-weight: 400;
  }
}

@media (max-width: 450px) {
  .hero_description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  app-img-animation.mobile_animation {
    display: block;
  }

  p {
    font-size: 18px;
  }
}