@use 'base/base' as base;

:host {
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 39px 111px;
  width: 100%;
  background-color: base.$dark-purple;
  color: base.$light-orange;
}

.hero {
  display: block;
  margin-top: 92px;
}

.dialog-overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 72px 24px;
  background-color: #fff;
}