<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">

  <fieldset>
    <section class="fieldset_header">
      <div class="fieldset_header__left">
        <label for="name">Survey Name</label>
        <div class="input_with_delete">
          <input id="name" formControlName="name" type="text" />
          <trashcan />
        </div>

        <div class="date_and_category">
          <div>
            <label for="date">Set end date</label>
            <div class="input_with_delete">
              <input id="date" formControlName="date" type="date">
              <trashcan />
            </div>
          </div>
        
          <select name="choose category" id="chooseCategory">
            <option value="choose category" disabled selected>Choose category</option>
          </select>
        </div>
      </div>

      <div class="fieldset_header__right">
        <label for="describing">Describing text</label>
        <div class="input_with_delete">
          <textarea id="describing" formControlName="describing"></textarea>
          <trashcan />
        </div>
      </div>
    </section>

    <section class="add_question" id="addQuestion">
      <add-question></add-question>
    </section>
  </fieldset>



  <section class="submit_button">
    <poll-app-button icon="check">Publish</poll-app-button>
  </section>

</form>