.overview {
  display: flex;
  flex-direction: column;
  width: 1042px;

  &_header {
    display: flex;
    justify-content: space-between;


    &_buttons {
      display: flex;
      gap: 20px;
    }
  }
}

#surveysOverview {
  width: 1042px;
  height: 300px;
  background-color: #5e366c;
}