label {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
}

input {
  height: 37px;
  margin-bottom: 4px;
  border-radius: 5px 20px 5px 5px;
}

img {
  width: 24px;
  height: 24px;
}

p {
  color: #fff;
  font-family: Mulish;
  font-weight: 700;
  font-style: Regular;
  font-size: 20px;
}