:host {
  display: block;
  min-width: 0;
}

.question {
  width: 100%;
}

label {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
}

input:not([type='checkbox']) {
  height: 37px;
  margin-bottom: 4px;
  border-radius: 5px 20px 5px 5px;
}

img {
  width: 24px;
  height: 24px;
}

p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: Mulish;
  font-weight: 700;
  font-style: Regular;
  font-size: 20px;
}

.question-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    flex: 1;
  }
}

.question_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.multiple-choice {
  display: flex;
  align-items: center;
  gap: 8px;

  input {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  label {
    margin: 0;
    font-size: 16px;
  }
}

.question_and_answer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_with_delete {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;

  input {
    flex: 1;
  }
}