@use 'base/base' as base;

:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

main {
  width: min(100%, 1166px);
  background-color: base.$dark-purple;
  border-radius: 5px 100px 5px 5px;
  box-sizing: border-box;
  padding: 40px 54px;
}

.form {
  width: 1052px;
  height: 500px;
  background-color: #433349;
  border-radius: 5px 80px 5px 5px;
}