.vote_content {
  width: 702px;
  padding: 40px;
  border-top-right-radius: 160px;
  background-color: #f3eff5;

  &__published {
    width: fit-content;
    font-family: Mulish;
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    padding: 3px 12px 3px 8px;
    border-top-right-radius: 14px;
    background-color: #FFB770;
    margin-bottom: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-family: Mulish;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
    }
  }
}