<section class="vote_content">

  @if (survey(); as selectedSurvey) {
  <div>
    <p class="vote_content__published">Published</p>
    <div class="vote_content__header">
      <p>Ends on {{ selectedSurvey.date }}</p>
      <p>{{ selectedSurvey.category }}</p>
    </div>
    <h3>{{ selectedSurvey.name }}</h3>
    <p class="vote_content__describing">{{ selectedSurvey.describing }}</p>
  </div>

  <form class="vote_content__form" [formGroup]="voteForm" (ngSubmit)="onSubmit()">
    @for (survey of selectedSurvey.questions; track $index; let questionIndex = $index) {
    <section class="vote_content__question">
      <h4>{{ survey.question | questionMark | firstCharUpperCase }}</h4>
      @for (answer of survey.answers; track $index; let answerIndex = $index) {
      <section class="vote_section">
        <input type="checkbox" [id]="getControlName(questionIndex, answerIndex)"
          [formControlName]="getControlName(questionIndex, answerIndex)">
        <p><span class="vote_section__label">{{ getAnswerLabel($index) }}. </span><span class="vote_section__answer">{{
            answer | firstCharUpperCase}}</span></p>
      </section>
      }
    </section>
    }

    <sec-button
      class="vote_content__submit"
      type="submit"
      backgroundColor="#f7decd"
      textColor="#35273a"
      hoverBackgroundColor="#ffc7a1"
    >
      Complete survey
    </sec-button>
  </form>

  } @else {
  <p>Survey is loading or could not be found.</p>
  }

</section>