<section class="vote_content">

  @if (survey(); as selectedSurvey) {
      <p class="vote_content__published">Published</p>
      <div class="vote_content__header">
        <p>Ends on {{ selectedSurvey.date }}</p>
        <p>{{ selectedSurvey.category }}</p>
      </div>
      <h3>{{ selectedSurvey.name }}</h3>
      <p>{{ selectedSurvey.describing }}</p>

      <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
        <div formArrayName="questions">
          @for (survey of selectedSurvey.questions; track $index; let questionIndex = $index) {
            <div [formGroupName]="questionIndex">
              <h4>{{ survey.question | questionMark | firstCharUpperCase }}</h4>
              @for (answer of survey.answers; track $index; let answerIndex = $index) {
                <label>
                  <input type="checkbox" [formControlName]="answerIndex">
                  {{ getAnswerLabel(answerIndex) }}. {{ answer | firstCharUpperCase }}
                </label>
              }
            </div>
          }
        </div>
        <sec-button type="submit" icon="check">Complete survey</sec-button>
      </form>
  } @else {
  <p>Survey is loading or could not be found.</p>
  }

</section>