<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" novalidate>

  <fieldset>
    <section class="fieldset_header">
      <!-- Form header left -->
      <div class="fieldset_header_left">
        <label for="name">Survey Name</label>
        <div class="input_with_delete">
          <input id="name" formControlName="name" type="text" required />
          <trashcan (click)="delete('name')"/>
        </div>
        @if (surveyForm.controls.name.invalid && surveyForm.controls.name.touched) {
          <p class="validation_message" role="alert">This field is required.</p>
        }
        <div class="date_and_category">
          <div>
            <label for="date">Set end date <span>(optional)</span></label>
            <div class="input_with_delete">
              <input id="date" formControlName="date" type="date">
              <trashcan (click)="delete('date')" />
            </div>
          </div>
        
          <div>
            <select class="choose_category" name="choose category" id="chooseCategory" formControlName="category" required>
              <option value="" hidden selected>Choose category</option>
              @for (category of categories; track category.value) {
                <option [value]="category.value">{{ category.label }}</option>
              }
            </select>
            @if (surveyForm.controls.category.invalid && surveyForm.controls.category.touched) {
              <p class="validation_message" role="alert">This field is required.</p>
            }
          </div>
        </div>
      </div>
      <!-- Form header right -->
      <div class="fieldset_header_right">
        <label for="describing">Describing text <span>(optional)</span></label>
        <div class="input_with_delete">
          <textarea id="describing" formControlName="describing"></textarea>
          <trashcan (click)="delete('describing')" />
        </div>
      </div>
    </section>
    <!-- Questions and answers -->
    <section class="add_question" id="addQuestion">
      @for (questionForm of questions.controls; track $index) {
        <add-question
          [questionForm]="questionForm"
          [questionNumber]="$index + 1"
        ></add-question>
      }

      <div class="add_next_question">
        <sec-button type="button" (click)="addQuestion()">
          Add next question
          <img src="assets/icons/add_icon.png" alt="Add Icon">
        </sec-button>
      </div>
    </section>
  </fieldset>


  <section class="submit_button">
    <poll-app-button type="submit" icon="check">Publish</poll-app-button>
  </section>

</form>