button {
  border: none;
  color: var(--text-color, aliceblue);
  background-color: var(--background-color, #72524a);
  padding: 8px 12px;
  border-radius: 10px;
  font-family: 'Nokora', sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  background-color: var(--hover-background-color, #ffb770c6);
  cursor: pointer;
}