$dark-purple: #35273a;
$light-orange: #ffb770;
$dark-orange: #ee9236;

body {
  margin: 0;
}

h1 {
  font-family: 'Nerko One', cursive;
  font-size: 100px;
  margin: 0;
  color: $light-orange;
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: 72px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: 'Nerko One', cursive;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
  color: $dark-orange;
}

h4 {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 26px;
  margin: 0;
  color: #35273A;
}

h5 {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  margin: 0;
  color: #ececec;
}

h6 {
  font-family: Nerko One;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  margin: 0;
  color: #221227;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  margin: 0;
}